.order-card {
  position: relative;
}
.order-card .status {
  display: inline;
}
.order-card .status::after {
  content: "";
  font-weight: 700;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  margin: 0;
  padding: 0;
  margin-right: 0.5rem;
  background-color: var(--theme-primary);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}
.order-card .shipped::after {
  background-color: var(--theme-blue);
}
.order-card .accepted::after {
  background-color: var(--theme-success);
}
.order-card .pending::after {
  background-color: var(--theme-warning);
}
.order-card .rejected::after {
  background-color: var(--theme-danger);
}
